params {
    workdir = './'
    use_dlmgo = true
    
    // Input/Output
    input_fasta = 'test_seq.fasta'
    
    // Resource configuration
    max_cpus = 4
    max_memory = '8GB'
    max_time = '1h'
    
    // GO Types
    go_types = ['MF', 'BP', 'CC']
    
    // Model parameters
    model_rounds = 5
    
    // Feature extraction parameters
    sequence_cutoff = 1024
    min_go_prob = 0.01
}
