params {
    // DLMGO specific parameters
    nctrans {
        model_name = 'nucleotide-transformer-500m'
        batch_size = 32
        max_length = 1024
    }
    
    dlmgo_train {
        batch_size = 64
        epochs = 100
        learning_rate = 0.0001
        embedding_dim = 768
        margin = 0.3
        dropout = 0.1
    }
}

process {
    withName: 'DOWNLOAD_SEQUENCES' {
        cpus = 2
        memory = '4.GB'
        time = '6.h'
        conda = 'biopython requests'
    }
    
    withName: 'EXTRACT_NCTRANS' {
        cpus = 4
        memory = '32.GB'
        time = '12.h'
        label = 'gpu'
        conda = 'pytorch transformers'
    }
    
    withName: 'TRAIN_DLMGO' {
        cpus = 8
        memory = '64.GB'
        time = '48.h'
        label = 'gpu'
        conda = 'pytorch scipy scikit-learn'
    }
}