params {
    // Ensembles specific parameters
    ensemble_train {
        hidden_layers = [512, 256, 128]
        dropout_rate = 0.3
        learning_rate = 0.001
        batch_size = 32
        epochs = 100
        validation_split = 0.2
    }
}

process {
    withName: 'CREATE_SAMPLE_FILE' {
        cpus = 4
        memory = '16.GB'
        time = '6.h'
        conda = 'pandas numpy scipy'
    }
    
    withName: 'TRAIN_ENSEMBLE' {
        cpus = 8
        memory = '32.GB'
        time = '12.h'
        conda = 'tensorflow-gpu scikit-learn pandas'
    }
}