params {
    // HFRGO specific parameters
    pssm {
        blast_threads = 4
        evalue = 0.001
        num_iterations = 3
        max_target_seqs = 500
    }
    
    sscm {
        spot1d_batch_size = 8
        spot1d_model = 'SPOT-1D-Single'
    }
    
    interpro {
        applications = ['Pfam', 'SUPERFAMILY', 'PRINTS', 'SMART']
        temp_dir = 'temp_interpro'
    }
    
    hfrgo_train {
        batch_size = 32
        epochs = 100
        learning_rate = 0.001
        embedding_dim = 256
        lstm_hidden_dim = 512
        num_layers = 2
        dropout = 0.5
    }
}

process {
    withName: 'GENERATE_PSSM' {
        cpus = { params.pssm.blast_threads }
        memory = '16.GB'
        time = '12.h'
        conda = 'bioconda::blast=2.12.0'
    }
    
    withName: 'GENERATE_SS' {
        cpus = 4
        memory = '32.GB'
        time = '12.h'
        conda = 'spot1d'
    }
    
    withName: 'GENERATE_INTERPRO' {
        cpus = 8
        memory = '32.GB'
        time = '24.h'
        conda = 'bioconda::interproscan=5.55-88.0'
    }
    
    withName: 'TRAIN_HFRGO' {
        cpus = 8
        memory = '64.GB'
        time = '48.h'
        label = 'gpu'
        conda = 'pytorch tensorflow-gpu'
    }
}