params {
    // PLMGO specific parameters
    prottrans_model = 'prot_bert_bfd'
    batch_size = 32
    max_length = 1024
}

process {
    withName: 'EXTRACT_PROTTRANS' {
        cpus = 4
        memory = '32.GB'
        container = 'pytorch/pytorch:1.9.0-cuda10.2-cudnn7-runtime'
    }
    
    withName: 'TRAIN_PLMGO' {
        cpus = 8
        memory = '64.GB'
        container = 'pytorch/pytorch:1.9.0-cuda10.2-cudnn7-runtime'
    }
}